@keyframes alertAnimation {
    0% {
        transform: translate(0, -400px);
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.n2o-alerts {
    position: relative;
    display: flex;
    flex-direction: column;
}

.with-link.alert-success:hover {
    color: $alert-success-hover-text-color;
}

.with-link.alert-warning:hover {
    color: $alert-warning-hover-text-color;
}

.with-link.alert-danger:hover {
    color: $alert-danger-hover-text-color;
}

.with-link.alert-info-:hover {
    color: $alert-info-hover-text-color;
}

.n2o-alerts--absolute {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1100;
}

.n2o-alert {
    display: flex;
    align-items: baseline;
    border-radius: 2px;

    .n2o-popover {
        margin-right: 0.5rem;
        font-size: 22px;
    }
}

.n2o-alert--animated {
    animation-name: alertAnimation;
    animation-duration: 0.8s;
}

.n2o-alert-body-container {
    flex-grow: 1;
}

.n2o-alert-close-container {
    margin-left: 0.5rem;
}

.n2o-alert-loader {
    display: block;
    width: 150px;
    margin: 0 auto;

    .n2o-alert-body-container {
        display: flex;
        align-items: center;
    }

    .spinner {
        margin-right: 10px;
    }
}

.n2o-alert-header {
    margin-top: 5px;
    margin-bottom: 10px;

    h4 {
        margin-bottom: 0;
        font-size: 22px;
    }
}

.n2o-alert-body {
    padding-bottom: 5px;
}

.n2o-alert-body .details-label {
    border-bottom: 1px dashed rgba($dark, 0.55);
    cursor: pointer;
}

.n2o-alert-body .details {
    margin-top: 10px;
    background-color: $gray-200;
    padding: 10px;
    color: $dark;
    line-height: 1.55;
    height: 350px;
    border: 1px solid $gray-400;
    border-radius: $border-radius-base;
    overflow: scroll;
    word-break: break-all;
    scrollbar-width: none;
}

.alert-border-info {
    border: 1px solid darken($info, 20%);
}

.alert-border-danger {
    border: 1px solid darken($danger, 20%);
}

.alert-border-success {
    border: 1px solid darken($success, 20%);
}

.alert-border-warning {
    border: 1px solid darken($warning, 20%);
}

.n2o-global-alerts {
    max-width: 70%;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 0;
    margin: auto;
    max-height: 100vh;
    overflow: auto;
    z-index: $zindex-tooltip;

    > .alert {
        flex-direction: row-reverse;
    }

    .close {
        margin-top: -5px;
        margin-left: 10px;
    }

    .n2o-alerts-container {
        width: 100%;
    }

    .n2o-alert-body-container {
        display: flex;
        width: calc(100% - 50px);
    }

    .n2o-alert-body {
        width: 100%;
    }

    .details {
        overflow-x: auto;
        white-space: nowrap;
    }
}

.n2o-alerts--absolute,
.n2o-alerts--relative {
    .n2o-alert-body-container {
        width: calc(100% - 50px);
    }

    .n2o-alert-close-container {
        margin-left: 0;
    }
}

.n2o-alert .details::-webkit-scrollbar {
    display: none;
}

.n2o-alerts--fixed {
    position: fixed;
    left: 50%;
    display: flex;
    flex-direction: column;
    width: 350px;
    transform: translate(-50%, 0);
    z-index: 1200;

    .alert {
        padding: 5px 5px 5px 15px;
    }

    .n2o-alert-body {
        padding: 0;

        .details-label {
            font-weight: 600;
            font-size: 16px;
            border-bottom: none;
        }

        .n2o-alert-body-text {
            font-size: 14px;
        }

        .details {
            font-size: 12px;
            line-height: 1.5;
        }
    }

    .n2o-alert {
        align-items: center;

        .close {
            padding: 0 !important;
            line-height: 0;
            font-size: 16px;
            cursor: pointer;
            text-shadow: none;
            margin-bottom: 4px;

            .n2o-icon {
                padding: 0;
            }
        }

        .n2o-alert-close__icon {
            font-size: 22px;
            margin-left: 10px;
            margin-right: 5px;
        }

        .n2o-alert-close__icon.with-details {
            align-self: flex-start;
            margin-top: 6%;
            margin-right: 8px;
            margin-left: 0;
            position: absolute;
            right: 0;
        }
    }

    .n2o-alert.with-details {
        position: relative;
        padding: 5px 10px 10px 10px;
    }

    &.top {
        top: 45px;
    }

    &.bottom {
        bottom: 35px;
    }
}

.modal-open .n2o-alerts--fixed {
    left: calc(100vw * 0.5);
}
