.сheckbox-сell {
    &.custom-control-inline {
        display: flex;
        max-width: min-content;
        margin-right: 0;

        > input {
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    .bs-tooltip-auto[x-placement^=bottom] {
        left: -5px !important;
    }

    .bs-tooltip-auto[x-placement^=bottom] .arrow {
        left: -5px !important;
    }
}

.custom-checkbox .custom-control-label:hover {
    cursor: pointer;
}

.custom-checkbox .custom-control-label.disabled:hover {
    cursor: default;
}
