.n2o-collapse-panel {
    .collapse-panel-header {
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: all 0.3s;
    }

    .n2o-panel-header {
        font-weight: 700;
        padding-bottom: 5px;
        display: flex;

        .collapse-icon-wrapper {
            flex: 0 0 auto;

            i {
                font-weight: 700;
                font-size: 16px;
            }
        }

        .collapse-panel-header-text {
            padding: 0 5px;
            flex: 0 0 auto;
        }

        .divider {
            flex: 1 1 auto;
            align-self: center;
            height: 1px;
            margin: 0 10px;
            background-color: rgba(0, 0, 0, 0.12);
            min-width: 10px;
        }
    }

    /* disabled */
    .collapse-panel-disabled .collapse-panel-header {
        cursor: not-allowed;
        color: rgba(0, 0, 0, 0.25);
        background: #fafafa;
    }

    /* Видимость контента если открыто */
    .collapse-panel-content.collapse-panel-content-active {
        overflow: visible;
    }

    /* Анимация */
    .collapse-panel-content {
        /* Скрытие контента если закрыто */
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    .collapse-panel-animating .collapse-panel-content {
        overflow: hidden;
    }

    .collapse-panel-content-box {
        background-color: #fff;
        overflow: visible;
        padding: 0 12px;
    }

    /* Стили для иконки анимации */
    .collapse-icon {
        transition: transform 0.3s ease-in-out;
        font-size: 16px;
        transform: rotate(0deg);
        margin: 0;
        padding: 0 0 0.125rem 0.1rem;
    }

    .collapse-icon.isActive {
        transform: rotate(90deg);
    }
}
