.n2o-calendar-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.n2o-date-picker {
    position: relative;
    display: inline-block;
    width: 100%;
}

.n2o-date-picker-container {
    display: block;
    width: 100%;
}
