.n2o-editable-cell {
    min-width: 100px;
    width: 100%;
    text-align: left;
    position: relative;

    .n2o-editable-cell-text {
        // хак для обрезки длинного текста
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        padding-left: 0.75rem !important;
        border: 1px solid transparent;
    }

    .n2o-editable-cell-control {
        visibility: hidden;
        opacity: 0;

        // Костыль чтоб немного сжать поля ввода, которые распирают высоту строки
        .form-control,
        .btn {
            height: auto;
            padding-top: 0.125rem;
            padding-bottom: 0.125rem;
            min-height: unset;
        }

        // select использует вложенный .form-control и даёт лишний отступ, тоже убираем
        .form-control .form-control {
            padding-top: 0;
        }
    }

    &.editable {
        .editable-cell-empty {
            width: 100%;
            min-width: 100px;
            background-color: $white;
            border: $input-select-border;
        }

        &:hover,
        &:focus,
        &:focus-within {
            .n2o-editable-cell-text {
                visibility: hidden;
                opacity: 0;
            }

            .n2o-editable-cell-control {
                visibility: visible;
                opacity: 1;
            }
        }
    }
}
