.n2o-fieldset {
    .col:empty {
        display: none;
    }

    .n2o-fieldset__label-container,
    .n2o-multi-fieldset,
    .n2o-panel-header {
        .n2o-popover {
            .n2o-popover-btn {
                border: 0;
                background-color: transparent;
            }

            button,
            button:active,
            button:focus {
                outline: none;
            }
        }
    }

    .n2o-fieldset__label-container {
        padding-top: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        display: flex;
    }

    .n2o-fieldset__label {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 700;
        color: #474747;
        line-height: normal;
    }

    .n2o-fieldset__label.with-description {
        margin-bottom: 0;
        padding: 0 5px 0 0;
        line-height: 15px;
    }

    .n2o-fieldset__description {
        margin: 3px 0 0 10px;
        font-size: 12px;
    }

    .n2o-panel-header-container {
        width: 100%;
        display: flex;
        align-items: center;

        .n2o-fieldset__description {
            margin: 3px 10px 0 10px;
            font-weight: lighter;
            line-height: 15px;
        }
    }

    .n2o-collapse-panel.with-description {
        margin-bottom: 15px;
    }

    .n2o-panel-header.with-description {
        margin-bottom: 5px;
    }
}
