.n2o-drop-zone {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: $drop-zone-width;
    height: $drop-zone-height;
    border: $drop-zone-border;
}

.n2o-button-uploader {
    &-btn {
        cursor: pointer;
    }
}

.n2o-file-uploader {
    outline: none;

    &-link {
        display: flex;
        align-items: center;
        width: 100%;
        margin-right: 5px;
        overflow: hidden;
    }

    &-container {
        width: 100%;
    }

    &-remove {
        width: 1rem;
        cursor: pointer;
        opacity: 0.6;

        &:hover {
            opacity: 1;
        }
    }

    &-item-error {
        color: $red !important;
    }

    &-item-size {
        margin-left: auto;
        color: $gray-500;
    }

    &-event-drag-enter {
        border-color: $file-uploader-border-color-drag-enter;
    }

    &-file-name {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &-files-item {
        display: flex;
        flex-direction: column;

        &-info {
            display: flex;
            align-items: center;
            white-space: nowrap;
        }
    }

    &-progress-bar {
        width: $file-uploader-progress-bar-width;
        height: $file-uploader-progress-bar-height;
    }

    &-icon {
        margin-right: 10px;
    }

    &-external-link {
        margin-left: 5px;
        font-size: 14px;
    }
}
