$cursor-disabled: not-allowed;

.n2o-icon {
    padding: 0 0.35em 0 0.35em;

    &.disabled {
        color: rgba(156, 159, 173, 0.55) !important;

        &:hover,
        &:focus {
            cursor: $cursor-disabled;
        }
    }
}
