$cursor-disabled: not-allowed;

.n2o-icon {
    padding: 0 0.35em;

    &.disabled {
        color: rgb(156 159 173 / 55%) !important;

        &:hover,
        &:focus {
            cursor: $cursor-disabled;
        }
    }
}
