.icon-cell-container {
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.icon-cell-container__text-left {
    flex-flow: row-reverse nowrap;
}
