.n2o-image-field-container {
    display: flex;
    align-items: center;
    max-width: max-content;

    .n2o-image__info {
        margin-left: 5px;
    }
}

.n2o-image-field {
    .n2o-image-field__image-with-action {
        cursor: pointer;
    }
}

.n2o-image-field.with-statuses {
    position: relative;
    display: flex;

    .image-field-statuses {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        .n2o-status {
            max-width: max-content;
            position: absolute;
            margin: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-color: transparent;

            .n2o-status__text.with-icon {
                margin-left: 5px;
            }
        }

        .n2o-status.topRight {
            position: relative;
            float: right;
        }

        .n2o-status.bottomLeft {
            bottom: 0;
        }

        .n2o-status.bottomRight {
            bottom: 0;
            right: 0;
        }
    }

    .n2o-image {
        margin: 0;
    }
}

.n2o-image-field-container.top {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;

    .n2o-image__info {
        margin-bottom: $n2o-image-text-margin;
        text-align: center;
    }
}

.n2o-image-field-container.right {
    display: flex;
    align-items: center;

    .n2o-image__info {
        margin-left: $n2o-image-text-margin;
    }
}

.n2o-image-field-container.bottom {
    display: flex;
    align-items: center;
    flex-direction: column;

    .n2o-image__info {
        margin-top: $n2o-image-text-margin;
        text-align: center;
    }
}

.n2o-image-field-container.left {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    .n2o-image__info {
        text-align: end;
        margin-right: $n2o-image-text-margin;
    }
}
