.n2o-image-cell-container {
    display: flex;
    align-items: center;

    .n2o-image__info {
        margin-left: 5px;
    }
}

.n2o-image-cell.with-statuses {
    position: relative;
    display: flex;

    .image-cell-statuses {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;

        .n2o-status {
            max-width: max-content;
            position: absolute;
            margin: 5px;
            background-color: rgba(255, 255, 255, 0.8);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            border-color: transparent;
        }

        .n2o-status__text.with-icon {
            margin-left: 5px;
        }

        .n2o-status.topRight {
            position: relative;
            float: right;
        }

        .n2o-status.bottomLeft {
            bottom: 0;
        }

        .n2o-status.bottomRight {
            bottom: 0;
            right: 0;
        }
    }

    .with-action {
        cursor: pointer;
    }

    .n2o-image {
        margin: 0;
    }
}
