.n2o-input-number {
    display: flex;
    position: relative;
    flex-grow: 1;
}

.n2o-input-number-buttons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: ($input-padding-y / 2);
    bottom: ($input-padding-y / 2);
    right: $input-padding-x;
}

.n2o-input-number-buttons > button {
    display: flex;
    cursor: pointer;
    padding: 0;
    flex-grow: 1;
    outline: none;
    border: none;
    background: none;
    color: $gray-300;
}

.n2o-input-number-buttons > button:hover,
.n2o-input-number-buttons > button:focus {
    color: $pink;
}

.n2o-number-interval-description {
    font-size: 0.9rem;
}
