.n2o-modal-actions {
    padding: 10px 0 0 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-dialog {
    .btn-group > div {
        margin-right: 0;
    }
}

.simple-modal-dialog {
    .modal-dialog {
        display: flex;
        justify-content: center;
    }

    .modal-content {
        width: max-content;
    }
}
