.n2o-modal-actions {
    padding: 10px 0 0 8px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal-dialog {
    .btn-group > div {
        margin-right: 0;
    }

    .n2o-file-uploader-files-item {
        width: inherit;
        white-space: pre-wrap;
    }

    .list-text-cell__trigger {
        max-width: -webkit-fill-available;
    }

    .n2o-file-uploader-files-item-info {
        display: flex;
        flex-wrap: wrap;

        .n2o-file-uploader-item-size {
            margin-left: 0;

            span {
                margin-left: 0 !important;
            }
        }
    }
}

.simple-modal-dialog {
    .modal-dialog {
        display: flex;
        justify-content: center;
    }

    .modal-content {
        width: max-content;
    }
}

.n2o-modal-dialog {
    .modal-footer {
        .btn {
            margin: 0;
        }
    }
}
