.modal-page-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 200;
}

.modal-page-overlay--border-bottom-none {
    border-bottom: none;
}

.modal-page-overlay--border-top-none {
    border-top: none;
}
