.n2o-multi-fieldset {
    &__container {
        padding: 1rem 0;
        border-bottom: 1px solid $gray-200;
    }

    &__label {
        margin: 0.5rem 0;
        font-size: 1.2rem;
    }

    &__item {
        position: relative;
    }

    &__actions {
        display: flex;
        align-items: center;

        &--inner {
            position: absolute;
            right: 0;
            top: 0;
        }

        &--common {
            align-items: stretch;
            flex-direction: column;
            margin-top: 0.5rem;

            & > .btn:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }
}
