.n2o-output-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        &--link {
            text-decoration: underline;
        }
    }

    &--column {
        flex-direction: column;
    }
}
