.pagination {
    &.bordered-rounded {
        .page-item .page-link {
            margin: 0;
        }

        .page-item:first-child .page-link {
            border-top-left-radius: 100px;
            border-bottom-left-radius: 100px;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 100px;
            border-bottom-right-radius: 100px;
        }
    }
}
