/* stylelint-disable no-descending-specificity */
.pagination {
    .page-item .page-link {
        min-width: 38px;
        text-align: center;
        padding: 0.5rem 0.5rem;
        margin: 0.1rem 0.1rem;
    }

    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: $primary;
        border-color: $primary;
    }

    &.flat {
        .page-item .page-link {
            background-color: transparent;
            border-color: transparent;
        }

        .page-item.active .page-link {
            background-color: $primary;
        }
    }

    &.bordered {
        .page-item .page-link {
            margin: 0 0 0 -1px;
        }

        .page-item:first-child .page-link {
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }
    }

    &.flat-rounded {
        .page-item .page-link {
            border-radius: 50rem;
            background-color: transparent;
            border-color: transparent;
        }

        .page-item.active .page-link {
            background-color: $primary;
        }
    }

    &.bordered-rounded {
        .page-item:first-child .page-link {
            border-top-left-radius: 50rem;
            border-bottom-left-radius: 50rem;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 50rem;
            border-bottom-right-radius: 50rem;
        }

        .page-item .page-link {
            margin: 0 0 0 -1px;
        }
    }

    &.separated-rounded {
        .page-item .page-link {
            border-radius: 50rem;
        }
    }
}
