.n2o-pie-chart-custom-tooltip {
    border: 1px solid #d7d7d7;
    background-color: white;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px;

    .n2o-pie-chart-custom-tooltip__content {
        margin: 0;
        padding: 0;
        font-size: 16px;
        font-weight: 500;
    }
}
