.popover {
    .btn-group {
        .btn {
            margin: 0;
        }
    }
}

.n2o-popover-body {
    .popover-body {
        padding: 0.5rem 0.85rem;
    }
}

.n2o-popover:hover {
    i {
        color: $pink;
    }
}
