.progress {
    margin-bottom: 0;
    width: 100%;

    &-bar {
        padding-bottom: 2px;
    }
}

.small.progress {
    height: $small-height;
}

.normal.progress {
    height: $normal-height;
}

.large.progress {
    height: $large-height;
}
