.n2o-range-field {
    &-body {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .n2o-range-field-controls-container {
            flex-grow: 1;
        }

        &--divider {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: calc(50% - 5px);
                top: 50%;
                width: 10px;
                height: 2px;
                background: $gray-300;
            }
        }
    }

    &-item {
        flex-grow: 1;
    }
}
