.n2o-search-bar {
  display: flex;

  .n2o-search-bar__control {
    position: relative;

     i {
      position: absolute;
      right: 10px;
      top: calc(50% - 8px);
    }
  }

  .n2o-search-bar__clear-icon {
    color: gray;
  }

  .n2o-search-bar__clear-icon:hover {
    cursor: pointer;
    color: #0d151c;
  }
}
