.n2o-search-bar {
  display: flex;

  &__control {
    position: relative;

    & i {
      position: absolute;
      right: 10px;
      top: calc(50% - 8px);
    }
  }

  &__clear-icon {
    color: gray;
  }

  &__clear-icon:hover {
    cursor: pointer;
    color: #0d151c;
  }
}