.n2o-sidebar {
    display: flex;
    flex-direction: column;
    min-width: $sidebar-width;
    max-width: $sidebar-width;
    color: $sidebar-color;
    background-color: $sidebar-bg-color;
    transition: 0.2s ease-in-out;

    .n2o-user-box__title {
        color: $sidebar-color;
    }

    .n2o-brand__image {
        margin: 0;
    }

    .navbar-brand {
        font-size: 14px;
        color: white;
    }

    .mini {
        .navbar-brand {
            margin: 0;
        }
    }

    .n2o-header-logo {
        opacity: 0;
        display: none;
    }

    .n2o-header-logo.visible {
        display: flex;
        flex-wrap: wrap;
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
    }
}

.n2o-sidebar-overlay {
    height: 100%;
    z-index: 100;
    transition: 0.2s ease-in-out;
}

.n2o-sidebar__item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 34px;
    color: $sidebar-color;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
        color: $sidebar-color;
    }

    &.n2o-sidebar__item--dropdown:hover {
        background: transparent;
    }
}

.n2o-sidebar__nav-brand {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: $sidebar-brand-padding;
    border-bottom: $sidebar-brand-border-bottom;
    border-top: $sidebar-brand-border-top;
    border-left: $sidebar-brand-border-left;
    border-right: $sidebar-brand-border-right;
}

.n2o-sidebar__item-dropdown-label {
    padding: 5px;
    display: flex;
    width: 100%;
    min-height: 34px;
    cursor: pointer;
    font-size: 12px;
    align-items: center;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    > span:not(.n2o-sidebar__item-content-icon) {
        display: inline-block;
        position: relative;
    }
}

.n2o-sidebar__nav {
    opacity: 0;
    user-select: none;

    .n2o-sidebar__item-dropdown-label,
    .n2o-sidebar__item {
        cursor: default;
        user-select: none;
    }
}

.n2o-sidebar__subitems {
    opacity: 0;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.25);
}

.n2o-sidebar.micro {
    min-width: $sidebar-micro-width;
    max-width: $sidebar-micro-width;
}

.n2o-sidebar.mini {
    min-width: $sidebar-mini-width;
    max-width: $sidebar-mini-width;

    .n2o-sidebar__item-dropdown-label {
        font-size: 19px;
    }
}

.n2o-sidebar.maxi {
    min-width: $sidebar-maxi-width;
    max-width: $sidebar-maxi-width;

    .n2o-sidebar__nav-brand {
        justify-content: flex-start;
    }

    .n2o-sidebar__item-dropdown-label,
    .n2o-sidebar__subitems {
        font-size: 12px;
    }

    .navbar-brand {
        font-size: 14px;
    }
}

.n2o-sidebar__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.n2o-sidebar__footer {
    margin-top: auto;
}

.n2o-sidebar__item-title {
    word-break: break-all;
    display: none;
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.n2o-sidebar__item-title.visible {
    display: block;
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.n2o-sidebar__item-title.mini {
    opacity: 0;
    display: none !important;
}

.n2o-sidebar__nav.visible {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
    user-select: auto;

    .n2o-sidebar__item-dropdown-label,
    .n2o-sidebar__item {
        cursor: pointer;
        user-select: auto;
    }
}

.n2o-sidebar__item-content {
    display: flex;
    align-items: center;
}

.n2o-sidebar__item-content-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    //margin-right: 10px;
    color: white;
}

.n2o-sidebar__item--dropdown {
    position: relative;
    padding: 0;
}

.n2o-sidebar__item-dropdown-label--up > span:not(.n2o-sidebar__item-content-icon) {
    &::after {
        transform: rotate(90deg);
    }
}

.n2o-sidebar__subitems.visible {
    opacity: 1;
    transition: opacity 0.6s ease-in-out;
}

.n2o-sidebar__toggler {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    border-top: 1px solid #0d151c;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.1);
    }
}

.n2o-nav-brand__text {
    font-size: $sidebar-brand-font-size;
    color: $sidebar-color;
}

.n2o-fixed-sidebar {
    height: 100vh;
}
