.btn–rounded {
  border-radius: 50%;
  margin: 1px;
}

.btn–rounded.btn-sm {
  padding: .29em .397em .29em .397em;
}

.btn–rounded.btn-md {
  padding: .592em .7em .592em .7em;
}

.btn–rounded.btn-lg {
  padding: 1.2em 1.3077em 1.2em 1.3077em;
}