.btn–rounded {
  border-radius: 50%;
  margin: 1px;
}

.btn–rounded.btn-sm {
  width: 35px;
  height: 35px;
  display: inline-flex;
  justify-content: center;
}

.btn–rounded.btn-md {
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
}

.btn–rounded.btn-lg {
  width: 65px;
  height: 65px;
  display: inline-flex;
  justify-content: center;
}