.n2o-spinner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;

    &.loading {
        pointer-events: none;
    }

    .spinner-background {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $spinner-background-cover-color;
        z-index: 10;
    }

    .n2o-spinner-container {
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
