%top-label-container{
  display: flex;
  flex-direction: column;
  label {
    min-height: $font-size-base * $line-height-base;
  }
}

.label- {
  &top-right {
    @extend %top-label-container;
    align-items: flex-end;
  }
  &top-left {
    @extend %top-label-container;
    align-items: flex-start;
  }

  &right {
    display: flex;
    flex-direction: row-reverse;
    label {
      margin-left: 5px;
    }
  }
  &left {
    display: flex;
    label {
      margin-right: 5px;
    }
  }
}

.form-group {
  .label-alignment- {
    &left {
      text-align: left;
      justify-content: flex-start;
    }
    &right {
      text-align: right;
      justify-content: flex-end;
    }
  }
}

.n2o-label {
  & .n2o-popover {
    cursor: pointer;
    margin: 0 5px;
    display: flex;

    & button {
      padding: 0;
      background-color: transparent;
      border: none;

      &:focus {
        outline: none;
      }
    }

    &:hover i {
      color: $link-hover-color;
    }
  }
}

.n2o-form-group {
  position: relative;
  margin-bottom: 0.5rem;

  &--disabled {
    pointer-events: none;
    opacity: 0.7;
  }

  &__spinner {
    position: absolute;
    right: 5px;
  }

  & .n2o-validation-message {
    min-height: 1rem;

    font-size: 0.8rem;
    line-height: 1rem;
  }
}

.control-container {
  display: flex;
}
.control-container_with-toolbar > .buttons-toolbar.n2o-page-actions__form-toolbar.btn-toolbar {
  min-width: max-content;
  min-height: 100%;
}

.control-container_with-toolbar > .buttons-toolbar.n2o-page-actions__form-toolbar.btn-toolbar > .btn-group > .n2o-dropdown > .n2o-dropdown-control.dropdown-toggle.btn {
  min-height: 100%;
  padding-left: 13.2px;
  padding-right: 13.2px;
}
.n2o-page-actions__toolbar {
  width: 100%;
  display: flex;
}

.control-container_with-toolbar > .buttons-toolbar.n2o-page-actions__form-toolbar.btn-toolbar > .btn-group > .n2o-dropdown > .dropdown-menu.n2o-dropdown-menu.d-block {
  max-width: min-content!important;
  text-align: left;
}

.control-container_with-toolbar > .buttons-toolbar.n2o-page-actions__form-toolbar.btn-toolbar > .btn-group > .n2o-dropdown > .dropdown-menu.n2o-dropdown-menu.d-block > .btn {
  min-width: max-content!important;
  border: none!important;
  padding: 6px;
}

.form-control__with-toolbar {
  height: 100%;
}