.table-container {
    --padding-aside-cell: 0.3rem;
    --padding-multiplier: 30px;

    overflow: auto;
    position: relative;

    .cell-content {
        display: flex;
        align-items: center;

        .tooltip {
            .arrow {
                overflow: visible !important;
            }
        }
    }

    .sticky-cell {
        position: sticky;
        background: #fff;
        z-index: 6;

        &.sticky-right {
            right: 0;

            &:not(.sticky-right ~ .sticky-right) {
                border-left: $table-border-width solid $gray-400;
            }
        }

        &.sticky-left {
            left: 0;

            &:not(:has(~ .sticky-left)) {
                border-right: $table-border-width solid $gray-400;
            }
        }
    }

    td,
    th {
        vertical-align: inherit !important;
        padding: 0.3rem var(--padding-aside-cell);

        &[align="right"] {
            .cell-content,
            .n2o-advanced-table-header-cell-content {
                justify-content: flex-end;
            }
        }

        &[align="center"] {
            .cell-content,
            .n2o-advanced-table-header-cell-content {
                justify-content: center;
            }
        }

        &[data-level] {
            padding-left: attr(--data-level px);

            &::before {
                content: attr(--data-level);
            }
        }

        &.cell-scrollbar {
            overflow: unset;
            padding: 0;

            &:empty {
                display: none;
            }

            > * {
                position: sticky;
                left: 0;
            }
        }
    }

    th {
        border-top: none;
    }

    td:first-of-type {
        padding-left: calc(var(--deep-level) * var(--padding-multiplier) + var(--padding-aside-cell));
    }

    thead {
        th {
            border-bottom: $table-border-width solid $gray-400;
            position: relative;

            .resizeTrigger {
                position: absolute;
                user-select: none;
                cursor: col-resize;
                visibility: hidden;
                top: 0;
                right: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 10px 10px 0;
                border-color: transparent #263238 transparent transparent;

                &::before {
                    position: absolute;
                    right: -10px;
                    display: block;
                    content: '';
                    width: 30px;
                    height: 30px;
                    z-index: 1;
                }
            }

            &[data-resizeble="true"]:hover {
                .resizeTrigger {
                    visibility: visible;
                }
            }
        }

        .cell-selection {
            width: 34px;
        }
    }

    tbody {
        tr {
            &[data-focused="true"] {
                background-color: #ececec;

                .sticky-cell {
                    background-color: inherit;
                }
            }

            &[data-overlay-hovered="true"],
            &:hover {
                background-color: #dfdfdf;

                .sticky-cell {
                    background-color: inherit;
                }
            }

            &[data-has-click="true"] {
                cursor: pointer;
            }
        }

        .cell-selection {
            width: 30px;
        }
    }

    table {
        // из bootstrap тянется collapse, который ломает бордеры у position:sticky элементов таблицы
        border-collapse: separate !important;
    }

    &[data-text-wrap="false"] {
        table {
            table-layout: fixed;
        }

        td,
        th {
            white-space: nowrap;

            .cell-content * {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .n2o-advanced-table-header-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* Отдельное правило для .link-button */
        .n2o-advanced-table-header-title .link-button,
        .cell-content * .link-button {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: contents;
        }

        /* Отдельное правило для контейнеров иконок */
        .n2o-advanced-table-header-title .n2o-icon-container,
        .n2o-advanced-table-header-title .icon-cell-container,
        .cell-content * .n2o-icon-container,
        .cell-content * .icon-cell-container {
            display: block;
        }

        .cell-content .tooltip .tooltip-inner {
            white-space: break-spaces;
        }
    }

    &.sticky-header {
        thead {
            position: sticky;
            z-index: 10;
            background: #fff;

            tr,
            th {
                background: #fff;
            }
        }
    }

    &:has(.hidden-scrollbar) {
        /* For Firefox */
        scrollbar-width: none;

        /* For WebKit browsers (Chrome, Safari, Edge) */
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .n2o-advanced-table-filter-dropdown-buttons button {
        justify-content: center;
    }

    .checkbox-cell {
        display: flex;
        overflow: visible !important;

        .custom-checkbox .custom-control-label {
            cursor: pointer;
        }
    }
}

.n2o-advanced-table-filter-btn {
    flex-shrink: 0;

    .n2o-advanced-table-filter-badge {
        padding: 0;
    }
}

.table-row-overlay {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    height: 0;

    .toolbar-container {
        display: flex;
        position: absolute;
        right: 0;
        top: 0;
        padding: 8px;
        background-color: #dfdfdf;
    }

    .toolbar-container::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 20px 0;
        border-color: transparent #dfdfdf transparent transparent;
        transform: translateX(-100%);
    }
}
