.n2o-tab-content__container {
  display: none;
}

.n2o-tab-content__container.visible {
  display: initial;
}

.tab-content {
  padding: 15px;
}

.tab-sub-content {
  border-bottom: $tabs-border;

  .tab-content {
    border-left: $tabs-border;
    border-right: $tabs-border;
  }
}