.n2o-tab-content__container {
    display: flex;
    width: 100%;

    &.fixed {
        overflow: hidden;
    }
}

.tab-content {
    padding: 15px;
}

.tab-sub-content {
    border-bottom: $tabs-border;

    .tab-content {
        border-left: $tabs-border;
        border-right: $tabs-border;
    }
}

.n2o-nav-tabs-container {
    margin-bottom: 2px;

    .tab-pane {
        overflow-x: hidden !important;
    }

    .tab-content_no-scrollbar .tab-pane {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .tab-content_no-scrollbar .tab-pane::-webkit-scrollbar {
        display: none; /* Hide scrollbar for Chrome, Safari and Opera */
    }
}
