.n2o-tabs-region {
    .tabs-nav-item.disabled {
        color: #263238;
        opacity: 0.65;
    }

    .tabs__content {
        padding: 15px;
    }

    .tabs__content.scrollable {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .tabs__content.scrollable.scroll-hidden {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .tabs__content.scrollable.scroll-hidden::-webkit-scrollbar {
        display: none;
    }
}

.n2o-tab-content__container {
    display: flex;
    width: 100%;

    &.fixed {
        overflow: hidden;
    }
}

.tab-content {
    padding: 15px;
}

.tab-sub-content {
    border-bottom: $tabs-border;

    .tab-content {
        border-left: $tabs-border;
        border-right: $tabs-border;
    }
}

.n2o-nav-tabs-container {
    margin-bottom: 2px;

    .tab-pane.tab-pane-fixed {
        overflow-x: hidden !important;
    }
}
