.n2o-tiles {
  &__container {
    display: flex;
    flex-flow: row wrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $tiles-item-width;
    height: $tiles-item-height;
    border: $tiles-border;
    margin: $tiles-item-margin;
  }
}
