.n2o-tiles {
  &__container {
    display: flex;
    flex-flow: row wrap;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $tiles-border;
    margin: $tiles-item-margin;
    .n2o-image-cell {
      img {
        max-width: 100%;
      }
    }
    &:hover {
      border: $tiles-hover-border;
      box-shadow: $tiles-hover-shadow;
    }
  }
}
