.n2o-tiles__container {
    display: flex;
    flex-flow: row wrap;
}

.n2o-tiles__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $tiles-border;
    margin: $tiles-item-margin;
    padding: $tiles-item-padding;

    .n2o-cards__cell.tiles-cell {
        text-align: center;

        .ellipsis-text {
            text-wrap: auto;
        }
    }

    &:hover {
        border: $tiles-hover-border;
        box-shadow: $tiles-hover-shadow;
    }

    .icon-cell-container,
    .progress,
    .n2o-rating-stars,
    .badge {
        margin: $tiles-cell-margin !important;
    }

    .rating-group {
        margin-left: -5px;
    }

    .progress-bar {
        padding: 0 5px;
    }

    .btn-group {
        div {
            margin: 0;
        }
    }

    img {
        max-width: 100%;
    }
}

.n2o-tiles__cell {
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: $tiles-cell-margin;
    overflow-wrap: anywhere;

    img {
        max-width: 100%;
    }
}
