.n2o-time-picker {
  &__header {
    text-align: center;
    font-weight: 600;
    font-size: $font-size-sm;
    padding: $dropdown-item-padding-y $dropdown-item-padding-x;
    border-bottom: $popover-border-width solid $popover-border-color;
    border-right: $popover-border-width solid $popover-border-color;
    &.last {
      border-right: none;
    }
  }
  &__panel {
    height: 192px;
    overflow-y: scroll;
    box-sizing: content-box;

    &__item {
      text-align: center;
    }
  }
}
