.time-wrapper {
  width: 250px;
  display: flex;
  align-items: center;
  border: 1px solid #d9d9d9;
  border-radius: 9px;
  padding: 11px;
  margin: 5px 0;

  .rc-time-picker {
    width: 100%;
    position: relative;
  }

  .rc-time-picker-panel-input {
    display: none;
    padding: 0;
    margin: 0;
  }

  .rc-time-picker-panel-input-wrap {
    padding: 0;
  }

  .rc-time-picker-input {
    outline: none;
    border: none;
    padding: 0;
    font-size: 13px;
    color: black;
  }

  .time-prefix {
    margin-right: 8px;
    font-size: 13px;
    color: darkgrey;
  }

  .rc-time-picker-panel {
    margin-left: 13px;
  }

  .rc-time-picker-panel-input-wrap {
    display: none;
  }

  .rc-time-picker-panel-select-option-selected {
    padding: 0;
    text-align: center;
  }

  .suffix-icon {
    border: 5px solid transparent;
    border-top: 5px solid black;
    position: absolute;
    right: 0;
    cursor: pointer;
    top: 12px;
  }
}

.rc-time-picker-panel-inner {
  display: inline-block;
  position: relative;
  outline: none;
  list-style: none;
  font-size: 12px;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 5px #ccc;
  background-clip: padding-box;
  border: 1px solid #ccc;
  line-height: 1.5;
  margin-top: 48px;
  position: absolute;
  right: -12px;
}

.rc-time-picker-panel-select {
  ul {
    li {
      cursor: context-menu;
      &.rc-time-picker-panel-select-option-selected {
        background-color: $primary;
        color: white;
      }
    }
  }
}

.rc-time-picker-panel {
  z-index: 1070;
  width: 170px;
  position: absolute;
  box-sizing: border-box;
}

.rc-time-picker-panel-select {
  &:first-child {
    border-left: 0;
    margin-left: 0;
  }
}

.rc-time-picker-panel-select {
  float: left;
  font-size: 12px;
  border: 1px solid #e9e9e9;
  border-width: 0 1px;
  margin-left: -1px;
  box-sizing: border-box;
  width: 56px;
  max-height: 144px;
  overflow-y: auto;
  position: relative;
}
.rc-time-picker-panel-select li {
  list-style: none;
  margin: 0;
  padding: 0 0 0 16px;
  width: 100%;
  height: 24px;
  line-height: 24px;
  text-align: left;
  cursor: pointer;
  user-select: none;
}

.rc-time-picker-panel-select ul {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}
