.title-fieldset-header {
    display: flex;
    align-items: baseline;
    margin: $collapse-header-margin;
}

.title-fieldset-line {
    align-self: center;
    width: 100%;
    height: $collapse-line-height;
    background-color: $collapse-line-color;
}

.title-fieldset-text {
    color: #474747;
    text-indent: initial;
    height: 30px;
    line-height: 28px;
    white-space: nowrap;
    font-weight: 700;

    + .title-fieldset-line {
        margin-left: 5px;
    }
}

.title-fieldset-subtitle {
    margin-left: 5px;
}
