.buttons-toolbar.btn-toolbar > .btn-group > .list-text-cell__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
}

.buttons-toolbar {
    .btn-group {
        margin-right: 0.5rem;
    }
}

.modal-footer {
    .btn-toolbar {
        .btn-group,
        .btn-group-vertical {
            flex-flow: row wrap;
        }
    }
}

.buttons-toolbar.single-button {
    .btn-group {
        .btn::before {
            color: transparent;
        }
    }
}
