.list-text-cell__tooltip-container.light {
    padding: 0 5px 0 5px;
    border: 0.9px solid #3f515e;
    border-radius: 3px;
    background-color: #fff;
    font-size: 14px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 110;
}

.list-text-cell__tooltip-container.dark {
    padding: 0 5px 0 5px;
    margin-top: 6px;
    border-radius: 3px;
    background-color: black;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 14px;
    z-index: 110;
}

.list-text-cell__tooltip-container__body {
    padding: 5px;
    align-items: center;
    vertical-align: center;
    z-index: 110;
}

.tooltip-arrow[data-placement*='bottom'] {
    &::before {
        border-color: transparent transparent #3f515e transparent !important;
    }
}

.tooltip-arrow.dark[data-placement*='bottom'] {
    &::after {
        border-style: none;
    }

    &::before {
        bottom: 9px;
        border-color: transparent transparent black transparent !important;
    }
}

.tooltip-arrow[data-placement*='right'] {
    &::before {
        border-color: transparent #3f515e transparent transparent !important;
    }
}

.tooltip-arrow.dark[data-placement*='right'] {
    &::after {
        border-style: none;
    }

    &::before {
        border-color: transparent black transparent transparent !important;
    }
}

.tooltip-arrow[data-placement*='top'] {
    &::before {
        border-color: #3f515e transparent transparent transparent !important;
    }
}

.tooltip-arrow.dark[data-placement*='top'] {
    &::after {
        border-style: none;
    }

    &::before {
        bottom: 10px;
        border-color: black transparent transparent transparent !important;
    }
}

.tooltip-arrow[data-placement*='left'] {
    &::before {
        border-color: transparent transparent transparent #3f515e !important;
    }
}

.tooltip-arrow.dark[data-placement*='left'] {
    &::after {
        border-style: none;
    }

    &::before {
        border-color: transparent transparent transparent black !important;
    }
}

.list-text-cell__trigger {
    max-width: content-box;

    >.btn {
        height: 100%;
        min-width: max-content;
    }
}

.list-text-cell__trigger.d-flex > .btn {
    height: 100%;
}

.list-text-cell__trigger_dashed {
    max-width: content-box;
    border-bottom: 1px dotted black;
}

.list-text-cell__trigger.d-flex {
    max-width: max-content;
    min-height: max-content;

    >.btn {
        min-width: max-content;
    }
}

.n2o-dropdown-menu > .list-text-cell__trigger.d-flex {
    max-width: 100%;
}

.list-text-cell__trigger {
    & > .n2o-dropdown {
        & > .dropdown-menu {
            &.n2o-dropdown-menu {
                text-align: left;

                & > .btn {
                    border: none;
                }

                & > div {
                    & > .btn {
                        width: 100%;
                        text-align: left;
                        border: none;
                    }
                }
            }
        }
    }
}
