.btn-group > .btn {
    max-width: fit-content;
}

.btn.btn-disabled {
    // в bootstrap по умолчанию pointer-events: none, он ломает работку обработчиков moseenter/leave, которые нужны для tooltip-хоков
    pointer-events: auto;
}

.buttons-toolbar.btn-toolbar > .btn-group > .list-text-cell__trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: max-content;
}

.btn-toolbar {
    gap: 0.5rem;
}

.modal-footer {
    .btn-toolbar {
        .btn-group,
        .btn-group-vertical {
            flex-flow: row wrap;
        }
    }
}

.buttons-toolbar.single-button {
    .btn-group {
        .btn::before {
            color: transparent;
        }
    }
}
