.tooltip-container.dark {
    background-color: black;
    color: white;
}

.tooltip-container[data-popper-placement*='top'] .tooltip-arrow.dark::before {
    top: 0;
    border-color: black transparent transparent transparent !important;
}

.tooltip-container[data-popper-placement*='top'] .tooltip-arrow.dark::after {
    border-style: none;
}

.tooltip-container[data-popper-placement*='right'] .tooltip-arrow.dark::before {
    border-color: transparent black transparent transparent !important;
}

.tooltip-container[data-popper-placement*='right'] .tooltip-arrow.dark::after {
    border-style: none;
}

.tooltip-container[data-popper-placement*='bottom'] .tooltip-arrow.dark::before {
    bottom: 9px;
    border-color: transparent transparent black transparent !important;
}

.tooltip-container[data-popper-placement*='bottom'] .tooltip-arrow.dark::after {
    border-style: none;
}

.tooltip-container[data-popper-placement*='left'] .tooltip-arrow.dark::before {
    border-color: transparent transparent transparent black !important;
}

.tooltip-container[data-popper-placement*='left'] .tooltip-arrow.dark::after {
    border-style: none;
}
