.n2o-user-box {
    padding: 20px 0;
    border-bottom: 1px solid #0d151c;

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 16px;
        border: none;
        background-color: transparent;
        outline: none !important;

        &--chevron {
            position: relative;

            &::after {
                content: "\F105";
                font-family: FontAwesome;
                position: absolute;
                right: -20px;
                top: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $white;
                transition: 0.3s;
            }

            &-up::after {
                transform: rotate(90deg);
            }
        }
    }

    &__items {
        background: rgba(0, 0, 0, 0.25);

        & > ul {
            list-style: none;
            padding: 0;
            margin: 20px 0 0 0;
        }
    }

    & small {
        font-size: 12px;
    }

    &__dropdown-item {
        padding: 0.5rem 1rem;
        cursor: pointer;
    }

    &--compressed {
        & .n2o-user-box__image {
            padding: 5px;
            cursor: pointer;

            & img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
