.n2o-wireframe {
    position: absolute;
    inset: 0.5rem 0;
    background: #d9edf7;
    border-radius: $border-radius-base;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $alert-info-text;
    text-transform: uppercase;

    &.l-10 {
        background: lighten($info, 2%);
    }

    &.l-20 {
        background: lighten($info, 4%);
    }

    &.l-30 {
        background: lighten($info, 6%);
    }

    &.d-10 {
        background: darken($info, 10%);
        color: darken($info, 30%);
    }

    &.d-20 {
        background: darken($info, 20%);
    }

    &.d-30 {
        background: darken($info, 30%);
    }

    &.disabled {
        background: $gray-lighter;
        color: $gray;
    }

    &.gradient-top {
        mask-image: linear-gradient(180deg, rgb(0 0 0 / 0%), rgb(0 0 0 / 100%));
    }

    &.gradient-bottom {
        mask-image: linear-gradient(0deg, rgb(0 0 0 / 0%), rgb(0 0 0 / 100%));
    }
}
