include:
  - project: ${PIPELINE_REPOSITORY_PREFIX}devenv/gitlab/pipelines
    ref: 3.5.0
    file:
      - dev-stand.gitlab-ci.yml
      - story.gitlab-ci.yml
      - merge-request.gitlab-ci.yml
      - stable-stand.gitlab-ci.yml
  - local: 'release-stand.gitlab-ci.yaml'

build:
  variables:
    MAVEN_EXTRA_BUILD_OPTIONS: '-Pfrontend,frontend-build,backend,!examples,jacoco,demo,docs,sandbox'

build and verify:
  variables:
    MAVEN_GOAL: 'verify'
    MAVEN_EXTRA_GOAL: 'install:install'
    MAVEN_EXTRA_BUILD_OPTIONS: '-Pfrontend,frontend-build,backend,!examples,jacoco,demo,docs,sandbox'
  artifacts:
    paths:
      - $CI_PROJECT_DIR/.m2/repository/
    expire_in: 1 day
  cache: []

autotesting mr stand:
  cache:
    key: "allure-2.34.0"
    paths:
      - allure/
  extends: .autotesting mr stand
  variables:
    AUTOTEST_PARAMS: '-Pautotests -o'
    AUTOTEST_MODULE_DIR: './backend/n2o/n2o-autotest'
  rules:
    - if: $CI_PIPELINE_SOURCE == 'merge_request_event'
  dependencies:
    - build and verify
    - deploy mr stand
  artifacts:
    when: always
    expire_in: 3 days
    paths:
      - public
  after_script:
    - 'if [ ! -d "allure" ]; then
        wget -q "https://github.com/allure-framework/allure2/releases/download/2.34.0/allure-2.34.0.tgz";
        mkdir -p allure;
        tar xzf "allure-2.34.0.tgz" -C allure --strip-components=1;
        fi'
    - 'export PATH="$PATH:$(pwd)/allure/bin"'
    - 'mkdir public'
    - 'allure generate demo/server/allure-results backend/n2o/n2o-autotest/allure-results -o ./public --clean'

build story:
  variables:
    MAVEN_EXTRA_BUILD_OPTIONS: '-Pfrontend,frontend-build,backend,!examples,jacoco,demo,docs,sandbox'
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /^story\/.+/ && $CI_PIPELINE_SOURCE == 'web'

cleanup:
  dependencies: []

deploy story stand:
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /^story\/.+/ && $CI_PIPELINE_SOURCE == 'web'

deploy stable stand:
  variables:
    K8S_NAMESPACE: "n2o-framework-b"
    K8S_INGRESS_HOST: "7-28-n2o.i-novus.ru"
    HELM_RELEASE: "n2o-framework-7-28"