version: "3.6"

services:
  n2o-sandbox:
    image: "${DOCKER_REGISTRY}/n2o/n2o-sandbox:${TAG}"
    environment:
      - N2O_SANDBOX_URL=https://sandbox.n2oapp.net
      - MONGODB_CONNECTION_URL=${MONGODB_CONNECTION_URL}
    ports:
      - "${PORT_SANDBOX}:8080"
    deploy:
      resources:
        limits:
          memory: 512M
      placement:
        constraints:
          - node.role == worker

  docusaurus:
    image: "${DOCKER_REGISTRY}/n2o/docusaurus:${TAG}"
    ports:
      - "${PORT_DOCUSAURUS}:80"
    deploy:
      resources:
        limits:
          memory: 256M
      placement:
        constraints:
          - node.role == worker
