version: "3.6"

services:
  frontend:
    ports:
      - "8700:8080"
    environment:
      - SERVER_SERVLET_CONTEXT_PATH=/demo
  docusaurus:
    ports:
      - "8703:80"
  n2o-sandbox:
    ports:
      - "8705:8080"
    environment:
      - SERVER_SERVLET_CONTEXT_PATH=/sandbox
      - N2O_SANDBOX_URL=https://sandbox.n2oapp.net
