{
  "extends": [
    "react-app",
    "airbnb"
  ],
  "plugins": [
    "eslint-plugin-import",
    "optimize-regex",
    "sonarjs"
  ],
  "ignorePatterns": ["*.test.js", "*.test.jsx", "*.story.js", "*.story.jsx"],
  "rules": {
    // without ";"
    "semi": ["error", "never"],
    // Цикломатическая сложность, надо плавно понижать до 10
    "complexity": ["error", { "max": 20 }],
    // Символ переноса строки в коде
    "linebreak-style": ["off"],
    // Везде одиночные кавычкии
    "quotes": ["error", "single"],
    // Ширина строк
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreTrailingComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "ignoreRegExpLiterals": true
      }
    ],
    // Отступы
    "indent": ["error", 4, {"SwitchCase": 1}],
    "react/jsx-indent": ["error", 4],
    "react/jsx-indent-props": ["error", 4],
    "spaced-comment": ["error", "always"],
    // Разбитие импортов на группы
    "import/order": [
      "error", {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
        "newlines-between": "always"
      }
    ],
    // Дефолтного экспорта быть не должно
    "import/prefer-default-export": "off",
    // Отступы внутри объектов и массивов
    "object-curly-spacing": ["error", "always"],
    // Не выносить контент объектов на отдельную строку
    "object-curly-newline": ["off"],
    // Разрешить стрелочным функциям не оборачивать единственный параметр в скобки
    "arrow-parens": ["error", "as-needed", {"requireForBlockBody": true}],
    // Разрешает в дочерних скоупах создавать переменные с теми же именами
    "no-shadow": ["off"],
    // Разрешает переприсваивать значение аргументам функций
    "no-param-reassign": ["off"],
    // Теперь не будет требовать дефолты для обязательных параметров
    "react/require-default-props": ["off"],
    // Теперь можно использовать any в propTypes
    "react/forbid-prop-types": ["off"],
    // Теперь при сравнении можно писать числа слева от знака, н.р.: 6 < from
    "yoda": ["off"],
    // Запрет <a href="#"> или <a href="javascript:void(0)">
    "jsx-a11y/anchor-is-valid": ["error", {"aspects": ["invalidHref"]}],
    // Выключаем, чтоб можно было использовать await в циклах
    "no-await-in-loop": ["off"],
    // Выключаем, чтоб можно было использовать setState в componentDidUpdate
    "react/no-did-update-set-state": ["off"],
    // Из за эффекта всплытия можно использовать функции и классы до их объявления, но с переменными не так.
    // Почему то работает тоько error и off, а ["error", { "functions": false, "classes": false }] - не воспринимается (
    "no-use-before-define": ["off"],
    // Легализация ++/-- в циклах
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    // Обязательные фигурные скобки
    "curly": ["error", "all"],
    // Перенос строки в логических операторах
    "operator-linebreak": ["error", "after", { "overrides": { "?": "before", ":": "before" } }],
    //
    "optimize-regex/optimize-regex": "warn",
    // Пустая стока перед return
//    "newline-before-return": "error",
    // Пустая стока после блока объявления переменных переменными
//    "newline-after-var": ["error", "always"],
    "padding-line-between-statements": [
      "error",
      // Вставлять пробел после блока переменных
      { "blankLine": "always", "prev": ["const", "let", "var"], "next": "*" },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] },
      // Вставлять пробел перед return
      { "blankLine": "always", "prev": "*", "next": "return" },
      // Вставлять пробел перед break
      { "blankLine": "always", "prev": "*", "next": "break" }
    ],
    // Если есть onClick, то key events теперь не обязательны
    "jsx-a11y/click-events-have-key-events": "off",
    // Теперь можно вешать обработчики на статические элементы, а не только на кнопки, чекбоксы, поля и прочее
    "jsx-a11y/no-static-element-interactions": "off",
    // off правил. иначе падает ошибка: Definition for rule was not found
    "react/jsx-curly-newline": "off", // TODO ["error", { "multiline": "require", "singleline": "forbid" }]
    "react/state-in-constructor": "off",
    "react/static-property-placement": "off",
    "react/jsx-props-no-spreading": "off",
    // Убираем сортировку методов
    "react/sort-comp": "off",

// Sonar
  // Bug Detection
    // Дублировние кода в if-else, switch ветках
    "sonarjs/no-all-duplicated-branches": "error",
    // Переприсваивание значений
    "sonarjs/no-element-overwrite": "error",
    // Вызов функции только с описанными аргументами
    "sonarjs/no-extra-arguments": "error",
    // Идентичные выражения с обеих сторон бинарных операторов
    "sonarjs/no-identical-expressions": "error",
    // Обход массива с одним элементом
    "sonarjs/no-one-iteration-loop": "error",
    // Попытка использования резульата функции, которая ничего не возвращает
    "sonarjs/no-use-of-empty-return-value": "error",
  // Code Smell Detection
    // Схлопывание вложенных if  в один
    "sonarjs/no-collapsible-if": "error",
    // Отказ от проверки отрицательной на размер коллекций, и что он ">=0"
    "sonarjs/no-collection-size-mischeck": "error",
    // Дублирование if, switch веток
    "sonarjs/no-duplicated-branches": "error",
    // Дублировние функций
    "sonarjs/no-identical-functions": "error",
    // Инвертирование булевых операций
    "sonarjs/no-inverted-boolean-check": "error",
    // Сравнение булевых тип внутри условий (if(some == true){...})
    "sonarjs/no-redundant-boolean": "error",
    // Прерывание выполнения, которое и так произойдёт (неуместные break/return/continue)
    "sonarjs/no-redundant-jump": "error",
    // Дублировние if с одинаковым условием
    "sonarjs/no-identical-conditions": "error",
    // Отказ от switch на 1-2 ветки
    "sonarjs/no-small-switch": "error",
    // Чуть более умный no-unused-vars
    "sonarjs/no-unused-collection": "error",
    // Бесполезные / пустые catch
    "sonarjs/no-useless-catch": "error",
    // Присваивание переменной сразу же перед тем как её вернуть
    "sonarjs/prefer-immediate-return": "error",
    // if(true) { return true } else { return false }
    "sonarjs/prefer-single-boolean-return": "error"
  },
  "globals": {
    // Для тестов
    "mount": true,
    "shallow": true
  }
}
