{
  "extends": [
    "@i-novus/eslint-config/react"
  ],
  "overrides": [
    {
      "files": ["*.jsx", "*.js", "*.tsx", "*.ts"],
      // TODO временные исключения, для отключения требуется пошаговый рефакторинг
      "rules": {
        "import/no-default-export": "off",
        "import/no-named-as-default": "off",
        "no-restricted-exports": "off",
        "@typescript-eslint/no-unused-vars": "off",
        "no-param-reassign": "off",
        "sonarjs/cognitive-complexity": ["error", 50],
        "react/jsx-no-constructed-context-values": "off",
        "import/no-cycle": "off",
        "@typescript-eslint/restrict-plus-operands": "off",
        "react/default-props-match-prop-types": "off",
        "class-methods-use-this": "off",
        "react/no-unused-class-component-methods": "off",
        "sonarjs/no-nested-template-literals": "off"
      }
    }
  ]
}
