.n2o-checkbox.inline {
    display: inline-block;
    padding-top: 4px;
    margin-bottom: 0;
    vertical-align: middle;
}

.n2o-checkbox.inline + .n2o-checkbox.inline {
    margin-left: 10px;
}

.n2o-checkbox-inline {
    > .custom-checkbox {
        &:last-child {
            margin-right: 0;
        }

        margin-right: 1.5rem;
    }

    > .checkbox {
        display: inline-block;

        > label {
            margin-right: 5px;

            > .alt-checkbox-block {
                margin-right: 5px;
            }
        }
    }
}

div.checkbox {
    > label {
        margin-bottom: 0;
    }
}
