.btn {
  position: relative;
}

.btn {
  > input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 10;
    width: 65.48px;
    height: 38px;
  }
}

.checkbox {
  > label.btn {
    padding-left: 12px;
  }
}