.code-viewer-body,
.code-viewer-body-container {
    overflow-y: auto;
}

.code-viewer-body {
    margin: 0 !important;
}

.n2o-code-viewer {
    width: 100%;

    pre {
        overflow: auto !important;
    }
}

.code-viewer-actions {
    margin-bottom: 10px;
}

.code-viewer-actions-copy {
    cursor: pointer;
    opacity: 0.6;

    &:hover {
        opacity: 1;
        transition: opacity 0.3s;
    }
}

.code-viewer-actions-code {
    margin-left: 10px;
    opacity: 0.6;
    cursor: pointer;

    &:hover {
        opacity: 1;
        transition: opacity 0.3s;
    }
}
