.n2o-dropdown-control {
  top: auto;
  left: auto;
  width: 100%;
  max-height: $popup-height;
  min-width: 38px;

  border: 1px solid #cfd8dc;
  overflow: auto;
  & > ul {
    display: block;
  }

  & > .dropdown-item {
    padding: $input-select-item-padding;
  }

  & button > * {
    margin-right: 10px;
  }

  & > .dropdown-item > img {
    height: $image-height;
  }

  & .dropdown-divider:last-child {
    display: none;
  }

  & .custom-control {
    min-height: 1.2rem;
  }

  & .dropdown-header {
    padding: $input-select-control-dropdown-header-padding;
  }
}

.n2o-dropdown-control.btn-sm {
  height: 31px;
  min-width: 31px;
}

.n2o-dropdown-control.btn-md {
  height: 38px;
  min-width: 38px;
}

.n2o-dropdown-control.btn-lg {
  height: 48px;
  min-width: 48px;
}

.n2o-select-pop-up {
  width: 100%;
  max-width: 600px;
  padding: 0;
  left: auto;
  top: auto;

  & .n2o-eclipse-content {
    outline: none;
  }

  & .n2o-dropdown-control {
    height: auto;
  }
}

.expandPopUp {
  min-width: 100%;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.n2o-input-left {
  border-left: 0;
  padding-left: 0;
}

.n2o-eclipse-content {
  display: block;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
  }
  & > img {
    max-height: 40px;
  }
}

.n2o-eclipse-content.n2o-eclipse-content__with-status {
  display: flex;
}

.n2o-dropdown-control .n2o-eclipse-content__description {
  padding: 0;
}

.n2o-dropdown-control .n2o-eclipse-content__description-with-icon {
  padding: 0 0 0 2.2rem;

}

.n2o-dropdown-control .n2o-eclipse-content__description-with-checkbox {
  padding: 0 0 0 1.5rem;
}

.n2o-dropdown-control .n2o-eclipse-content__description-with-icon-checkbox {
  padding: 0 0 0 3.7rem;
}

.n2o-input-button > .adjust-huener {
  &.adjust-huener-inline {
    margin-left: 0;
  }
}

.n2o-input-select {
  display: inline-block;
  position: relative;
  white-space: nowrap;

  &__toggle {
    width: 100%;
    padding: 0;
    border: none;
  }

  &__menu {
    max-width: 100%;

    padding: 0;
    margin: 0;

    &--autosize {
      max-width: none;
    }
  }

  & .n2o-inp {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% !important;

    &--multi {
      resize: none;
      overflow: hidden;
      border: none;
    }
  }

  &-selected-list {
    display: flex;
    flex-wrap: wrap;

    //width: 100%;

    z-index: 3;

    pointer-events: none;

    & .selected-item {
      pointer-events: initial;
    }
  }

  &--default {
    & .n2o-input-items > .selected-item--single {
      position: absolute;
    }

    & .n2o-input-container {
      padding: 0;
    }
  }

  & > button {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;

    &:disabled {
      pointer-events: none;
    }
  }

  &:hover {
    & .n2o-input-clear {
      visibility: visible !important;
    }

    .n2o-input-control {
      background-color: #fff;
    }
  }

  .n2o-input-container {
    background-color: #fff;
    border-spacing: 0;
    border-collapse: separate;
    height: auto;
    outline: none;
    position: relative;
    width: 100%;
    display: flex;
    flex: 1 100%;
    flex-direction: row;
    min-height: $input-min-height;
    border: $input-select-border;

    &:hover {
      border-color: $input-select-hover-border-color;
    }

    &.is-invalid, .is-invalid:hover {
      border-color: $red;
    }

    &.disabled {
      background-color: $input-disabled-bg;
    }

    & > .n2o-input-items {
      min-width: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
    }


    @include form-control-focus();
  }

  span > .n2o-item-delete {
    margin-left: 4px;
    display: flex;

    & > i {
      font-size: 10px;
    }
  }

  .n2o-multiselect {
    background: $multiselect-item-color;
    border: 1px solid #cccccc;

    z-index: 3;
  }

  .selected-item {
    display: flex;
    padding: 2px 4px 2px 6px;
    justify-content: center;
    align-items: center;

    & > button {
      font-size: inherit;
      padding: inherit;
    }

    & > i {
      display: flex;
      padding-right: 5px;
    }

    & > img {
      height: $image-selected-height !important;
      padding-right: 5px;
      display: flex
    }

    max-width: $selected-item-width;
    margin: $selected-item-margin-y $selected-item-margin-x;
  }

  .n2o-input-control {
    position: absolute;
    right: 0;
    top: 0;
    height: calc(2rem + 4px);

    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: center;

    padding: 0 10px;

    cursor: $input-cursor;
    z-index: 3;

    & > div {
      margin: $input-control-padding;

      & > i {
        font-size: $input-select-control-icon-size;
        border-radius: 50%;
        padding: 5px 5px 5px 5px;
        transition: all  $tree-animation-speed linear;
      }

      & > i:hover {
        background-color: $icon-tree-hover-color;
      }
    }

    & > .n2o-input-clear {
      visibility: hidden;
      margin: 0;
      display: flex;
      justify-content: center;
      &.input-in-focus {
        visibility: visible;
      }
    }

    & > .isExpanded {
      & > i {
        transform: rotate(180deg);
        transition: all  $tree-animation-speed linear;
      }
    }

    & > .n2o-popup-control {
      display: flex;
      justify-content: start;
      text-align: center;
      margin: 0;
      & > .adjust-huener.adjust-huener-inline {
        margin-left: 0;
      }
    }
  }

  .n2o-input-select:hover {
    .n2o-input-control {
      background-color: #fff;
    }
  }

  .n2o-input-control:hover {
    background-color: #fff;
  }

  .n2o-input-items > input {
    display: flex;
    flex: 1 0 10px;
    padding: $input-select-padding;
    font-size: $input-select-font-size;
    line-height: $input-line-height;
    color: $input-select-font-color;
    border-radius: $input-select-border-radius;
    height: calc(2rem + 4px);
    min-width: 10px;
    border: none;
    outline: none;
    background: transparent;
    text-overflow: ellipsis;
  }
}