// Базовый контейнер (общий для single и multi)
.n2o-input-select {
    display: inline-block;
    width: 100%;
    min-width: 200px;

    .input, .input.form-control {
        display: flex;
        align-items: center;
        min-width: fit-content;
        background: #fff;
        cursor: text;
        padding: 0;
        height: auto;
        min-height: 38px;
    }

    .input.form-control:focus-within {
        color: #263238;
        background-color: #fff;
        border-color: #317db5;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(22, 56, 81, 0.25);
    }

    .input-content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 1;
        gap: 4px;
        padding: 0.375rem 0.75rem;
        min-height: 32px;

        .input-single, .input-multiple  {
            // общий плейсхолдер
            &::placeholder {
                color: #546e7a;
                font-size: 16px;
            }
        }
    }

    // Блок тегов (используется только в multi)
    .input-tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .tag {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        padding: 2px 8px;
        line-height: 20px;
        margin: 2px;
        border: 1px solid #ccc;
        font-size: 16px;
        border-radius: 0;
        background: transparent;

        .tag-remove {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 18px;
            height: 18px;
            background: transparent;
            border: none;
            font-size: 16px;
            font-weight: bold;
            line-height: 1;
            cursor: pointer;
            padding: 0;

            &:focus {
                outline: none;
            }
        }
    }

    // инпут – прозрачный
    input {
        flex: 1 1 auto;
        width: auto;
        background: transparent !important;
        border: none !important;
        outline: none !important;
        box-shadow: none !important;
        padding: 0 !important;
        margin: 0 !important;
        font-size: 16px;
        line-height: 20px;

        &:focus {
            border: none;
            outline: none;
            box-shadow: none;
        }
    }

    // Блок с иконками-кнопками (постфикс)
    .input-postfix {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 11px;
        flex-shrink: 0;
    }

    .select-controls {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        i {
            cursor: pointer;
            font-size: 12px;
            transition: 0.2s;

            &:hover {
                opacity: 0.7;
            }
        }
    }

    .select-controls.open {
        .toggle {
            transform: rotate(180deg);
        }
    }

    .select-controls.read-only {
        .clear {
            opacity: 0;
            cursor: default;
        }
    }

    .n2o-spinner-container {
        transform: translate(-115%, -50%);

        .spinner-border {
            width: 1rem;
            height: 1rem;
            border-width: 0.15em;
        }
    }

    // Ширина search-controls когда есть кнопка очистки
    // Иначе появятся дергания при загрузке т.к. лоадер имеет меньший размер
    .select-loader.extended {
        min-width: 54px;

        .n2o-spinner-container {
            left: 100%;
        }
    }
}

.n2o-input-select.disabled {
    .form-control {
        background-color: #dce3e7;
        cursor: default;
    }
}

// readonly input
.n2o-input-select.read-only {
    .n2o-input {
        cursor: pointer;
    }
}

// single режим
.n2o-input-select.single {
    .input-content {
        gap: 0;
    }

    input.n2o-input.single {
        min-width: auto;
        width: 100%;
    }

    .input-tags {
        display: none;
    }
}

// multi режим
.n2o-input-select.multi {
    input.multi {
        min-width: 80px;
    }

    .input-tags:empty {
        display: none;
    }

    .input-tags:empty + input.n2o-input.multi {
        min-width: auto;
        width: 100%;
    }
}

// Тултип
.n2o-input-select__menu {
    padding: 0;

    .n2o-pop-up__wrapper {
        width: max-content;

        .n2o-dropdown-control.n2o-pop-up {
            overflow: auto;
        }

        .dropdown-item {
            min-height: 40px;

            div {
                max-width: min-content;
            }
        }

        .dropdown-item.selected {
            background: #f5f5f5;
        }

        .dropdown-item.with-description {
            display: flex;
            flex-flow: column;
            align-items: flex-start;

            .n2o-eclipse-content__description {
                padding: 0;
            }

            // TODO, поддержка сущесвующей верстки, нужно рефакторить pop up list и его компоненты
            .n2o-eclipse-content__description-with-checkbox {
                padding-left: 24px;
            }
        }
    }
}
