.n2o-radio-input {
    cursor: pointer;

    &.disabled {
        cursor: default;
        color: $gray-600;
    }

    /// type = default
    &.n2o-radio-input-n2o, // для обратной совместимости
    &.n2o-radio-input-default {
        margin: $n2o-radio-margin;

        input {
            display: none;
        }

        &::before {
            content: ' ';
            width: $n2o-radio-width;
            height: $n2o-radio-height;
            margin-right: 0.5rem;
            background: $n2o-radio-background-color;
            border-radius: 50%;
            display: inline-block;
        }

        &.checked::before {
            background: $n2o-radio-checked-background-color;
            border: 5px solid;
            border-color: $n2o-radio-checked-border-color;
        }

        &.disabled::before {
            box-shadow: none !important;
        }

        &:focus::before,
        &:hover::before {
            box-shadow: $n2o-radio-focus-box-shadow;
        }
    }

    /// type = tabs
    &.n2o-radio-input-tabs {
        input[type="radio"] {
            display: none;
        }

        border: $n2o-radio-input-border-width solid transparent;
        padding: $n2o-radio-input-tabs-padding;
        margin: 0;

        &.checked {
            border-color: $n2o-radio-input-border-color;
            color: $gray-700;
        }

        &:hover:not(.checked):not(.disabled),
        &:focus:not(.checked):not(.disabled) {
            border-color: $n2o-radio-input-hover-border-color;
            color: $pink;
        }
    }

    /// type = btn
    // Просто наследуемся от бутстрап классов, чтобы самим не переопределять ничего
    &.n2o-radio-input-btn {
        @extend .btn;
        @extend .btn-secondary;
    }
}

.n2o-radio-group {
    display: flex;
    flex-direction: column;

    &.n2o-radio-group-inline {
        flex-direction: row;
    }

    /// type = default
    &.n2o-radio-group-n2o, // для обратной совместимости
    &.n2o-radio-group-default {
        &.n2o-radio-group-inline {
            .n2o-radio-input {
                margin-right: $n2o-radio-input-margin-right;
                margin-bottom: 0;
            }

            .n2o-radio-input:last-child {
                margin-right: 0;
            }
        }
    }

    /// type = tabs
    &.n2o-radio-group-tabs {
        position: relative;

        &::before {
            z-index: -1;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
        }

        &.n2o-radio-group-inline {
            width: 100%;

            &::before {
                border-bottom: $n2o-radio-input-border-width solid $n2o-radio-input-border-color;
            }

            .n2o-radio-input.n2o-radio-input-tabs {
                &.checked {
                    border-bottom: $n2o-radio-input-border-width solid $white;
                }

                &:not(.checked) {
                    border-bottom: transparent;
                }
            }
        }

        &.n2o-radio-group-vertical {
            &::before {
                border-right: $n2o-radio-input-border-width solid $n2o-radio-input-border-color;
            }

            // stylelint-disable-next-line
            .n2o-radio-input.n2o-radio-input-tabs {
                &.checked {
                    border-right: $n2o-radio-input-border-width solid $white;
                }

                &:not(.checked) {
                    border-right: transparent;
                }
            }
        }
    }

    /// type = btn
    // Просто наследуемся от бутстрап классов, чтобы самим не переопределять ничего
    &.n2o-radio-group-btn {
        @extend .btn-group-toggle;

        &.n2o-radio-group-inline {
            @extend .btn-group;
        }

        &.n2o-radio-group-vertical {
            @extend .btn-group-vertical;
        }
    }
}
