// Пример из https://codepen.io/andreacrawford/pen/NvqJXW
.n2o-rating-stars {
    .rating-group {
        display: inline-flex;
    }

    .rating__icon {
        pointer-events: none;
    }

    .rating__input {
        position: absolute !important;
        left: -9999px !important;
    }

    .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 1rem;
        margin: 0;
    }

    .rating__label--half {
        padding-right: 0;
        margin-right: -0.6em;
        z-index: 2;
    }

    .rating__icon--star {
        color: $rating-stars-selected-color;
    }

    .rating__input:checked ~ .rating__label .rating__icon--star {
        color: $rating-stars-color;
    }

    .rating-group:hover .rating__label .rating__icon--star,
    .rating-group:hover .rating__label--half .rating__icon--star {
        color: $rating-stars-selected-color;
    }

    .rating__input:hover ~ .rating__label .rating__icon--star,
    .rating__input:hover ~ .rating__label--half .rating__icon--star {
        color: $rating-stars-color;
    }
}
