{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties"
  ],
  "env": {
    "commonjs": {
      "presets": ["@babel/preset-es2015"]
    },
    "es": {
      "presets": [
        ["@babel/preset-es2015", {
          "modules": false
        }]
      ]
    },
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-modules-commonjs"
        ]
      ]
    }
  }
}
