{
  "presets": [
    "@babel/preset-react",
    "stage-3",
    "react"
  ],
  "plugins": [
    "transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "transform-es2015-modules-commonjs"
        ]
      ]
    }
  }
}