{
  "presets": [
    "@babel/preset-react",
    "@babel/preset-env"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        [
          "@babel/plugin-transform-modules-commonjs"
        ]
      ]
    }
  }
}