.n2o-input-password {
    position: relative;
    width: 100%;

    .n2o-input-password-toggler {
        position: absolute;
        right: 2px;
        top: calc(50% - 16px);
        width: 32px;
        height: 32px;
        opacity: 0.5;

        &:hover {
            opacity: 0.8;
        }
    }
}
