@import "@fontsource/exo-2/400";

// Верстка разделителя пустой таблицы для FF, почему то при collapsed ячейках перестает рисовать border
@-moz-document url-prefix() {
    .cell.empty_content {
        padding: 0 !important;

        div {
            padding: 0.3rem var(--padding-aside-cell);
            border-top: 1px solid #78909c;
        }
    }
}

.page-link {
    margin: 0 0.1rem;
}

.btn-secondary {
    @include button-variant($white, $gray-400);

    color: $dark;
}

.btn-outline-secondary {
    @include button-outline-variant($gray-400);
}

.breadcrumb {
    > .breadcrumb-item:first-child::before {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome, serif;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        content: "\f015";
        margin-right: 0.25rem;
    }
}

.close {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 3px 2px 3px !important;
}

.modal-header .close {
    margin: 0;
}

.badge {
    display: inline-flex;
    align-items: center;

    span {
        padding-bottom: 2px;
    }
}

.btn {
    width: 100%;

    .badge {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
    }
}

.modal-dialog {
    .modal.fade & {
        transition: top 0.3s ease-out;
        top: -50px;
    }

    .modal.show & {
        top: 0;
    }
}
