
$blue: #039be5;
$indigo: #3949ab;
$purple: #5e35b1;
$pink: #d81b60;
$red: #e53935;
$orange: #fb8c00;
$yellow: #ffb300;
$green: #43a047;
$teal: #00897b;
$cyan: #00acc1;
$gray-200: #cfd8dc;
$gray-100: #dce3e7;
$gray-300: #90a4ae;
$gray-400: #78909c;
$gray-500: #607d8b;
$gray-600: #546e7a;
$gray-700: #455a64;
$gray-800: #37474f;
$gray-900: #263238;
$primary: #163851;
$secondary: $gray-200;
$info: $cyan;
$theme-color-interval: 8%;
$dark: $gray-900;
$enable-caret: true;
$enable-rounded: false;
$white: #fff;
$light: $white;
$body-bg: $white;
$spacer: 1rem;
$line-height-lg: 1.5;
$line-height-sm: 1.5;
$font-family-sans-serif: 'Exo 2', sans-serif;
$font-family-base: $font-family-sans-serif;
$table-border-color: $gray-200;
$table-head-color: $gray-900;
$table-dark-bg: $gray-900;
$black: #000;
$table-hover-bg: rgba($black, 0.075);
$table-active-bg: $table-hover-bg;
$card-cap-bg: rgba(0, 0, 0, 0);
$warning: $yellow;
$alert-padding-y: 1rem;
$alert-margin-bottom: 1.25rem;
$alert-border-level: 1;
$alert-bg-level: -7;
$table-head-bg: $gray-200;
$border-width: 1px;
$breadcrumb-bg: transparent;
$breadcrumb-divider-color: $gray-900;
$breadcrumb-active-color: $gray-400;
$breadcrumb-padding-x: 0;
$pagination-border-color: $gray-200;
$pagination-hover-border-color: $gray-300;
$pagination-active-bg: $white;
$pagination-active-color: $primary;
$pagination-active-border-color: $primary;
$pagination-color: $primary;
$pagination-hover-bg: $white;
$pagination-disabled-color: #bdbdbd;
$pagination-disabled-bg: $white;
$pagination-disabled-border-color: $gray-200;
$input-border-color: $gray-200;
$input-disabled-bg: $gray-100;
$input-color: $gray-900;
$link-hover-decoration: none;
$link-hover-color: $pink;
$popover-border-color: $gray-200;
