.n2o-calendar-container {
    position: absolute;
    inset: 0;
}

.n2o-date-picker {
    position: relative;
    display: inline-block;
    width: 100%;
}

.n2o-date-picker-container {
    display: block;
    width: 100%;
}
