@import "../variables";

.n2o-output-text {
    display: flex;
    align-items: flex-start;
    place-content: flex-start flex-start;
    flex-wrap: nowrap;

    .details-label {
        display: inline-block;
        border-bottom: 1px dashed rgb(38 50 56 / 55%);
        cursor: pointer;
        margin-left: $input-padding-y;
    }

    > .text {
        display: flex;
        align-items: center;
        order: 2;
        min-height: 1.4rem;
    }

    > .icon {
        margin-top: 2px;
    }

    &.right {
        > .icon {
            order: 3;
        }
    }

    &.left {
        > .icon {
            order: 1;
        }
    }
}
