html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

body,
#n2o {
  width: 100%;
  display: flex;
}

.n2o-footer .container-fluid {
    color: #e5e5e5 !important;
}
