.n2o-notification {
  position: fixed;
  padding: 4px;
  width: 350px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 9999;
}

.n2o-notification.top-left {
  top: 1em;
  left: 1em;
}

.n2o-notification.top-center {
  top: 1em;
  left: 50%;
  margin-left: -160px;
}

.n2o-notification.top-right {
  top: 1em;
  right: 1em;
}

.n2o-notification.bottom-left {
  bottom: 1em;
  left: 1em;
}

.n2o-notification.bottom-center {
  bottom: 1em;
  left: 50%;
  margin-left: -160px;
}

.n2o-notification.bottom-right {
  bottom: 1em;
  right: 1em;
}

.n2o-counter {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
  position: relative;
  display: inline-block;
  color: unset;
  line-height: 1;
}

.n2o-counter .n2o-counter-number {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translate(50%, -50%);
  -ms-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
  -webkit-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
  min-width: 20px;
}

.n2o-counter .n2o-counter-number .badge {
  width: 100%;
  height: 100%;
}

.n2o-counter .n2o-counter-number.no-number {
  width: 8px;
  height: 8px;
  min-width: 8px;
}

.n2o-counter .n2o-counter-number.no-number .badge {
  display: inline-block;
}
