.n2o-advanced-table {

  &.table-bordered thead th {
    border: 1px solid #cfd8dc;
  }

  &-header-text-center {
    text-align: center;
  }

  &-filter-badge.badge {
    position: absolute;
    right: 3px;
    top: 3px;
    display: block;
    width: 5px;
    height: 5px;
    padding: 0;
    border-radius: 50%;
  }

  & .n2o-advanced-table-expanded-row:hover {
    background-color: transparent;
  }

  &-content {
    position: relative;
  }

  &-row-hover {
    background-color: rgba(0, 0, 0, 0.075);
  }

  &-expanded-row-content {
    padding: 0 20px;
  }

  &-scroll-position-middle {
    & .n2o-advanced-table-fixed-right {
       box-shadow: -6px 0 6px -4px rgba(0,0,0,0.15);
    }
    & .n2o-advanced-table-fixed-left {
      box-shadow: 6px 0 6px -4px rgba(0,0,0,0.15);
    }
  }

  &-fixed {
    background-color: $white;
  }

  &-fixed-left {
    position: absolute;
    top: 0;
    left: 0;
  }

  & .react-resizable-handle {
    width: 15px;
    height: 15px;
  }

  &-fixed-right {
    position: absolute;
    top: 0;
    right: 0;
  }

  & table {
    width: 100%;
    margin-bottom: 1rem;
  }

  &-row {
    box-sizing: border-box;
    border-left: 0.2rem solid transparent;
    outline: none;
  }

  &-nested table tr:hover {
    background-color: transparent;
  }



  &-expand {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 5px;

    cursor: pointer;

    font-size: 12px;

    &-icon {
      font-size: 16px;
      transform: rotate(0deg);
      transition: .2s background-color;
      margin: 0;
      padding-left: 1px;

      &-expanded {
        padding: 0 1px 0 0;
      }
    }

    &:hover {
      background-color: #ced3d6;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
  }

  &-header-cell {
    background-color: white;

    &-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-filter-dropdown.show {
    display: flex;
  }

  &-filter-dropdown {
    flex-wrap: wrap;
    justify-content: space-between;

    width: 200px;
    padding: 10px;
    background-color: $white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    border-radius: 5px;

    & .n2o-input {
      height: 32px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    &-btn {
      border-radius: 5px;
    }
  }
}

.n2o-advanced-table {
  & .react-resizable-handle {
    cursor: col-resize;
  }
}