@keyframes alertAnimation {
  0% {
    transform: translate(0, -400px);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.n2o-alerts {
  position: relative;
  display: flex;
  flex-direction: column;
}

.n2o-alert {
  display: flex;
  align-items: baseline;

  width: 100%;

  &--relative {
    position: relative;
  }

  &--absolute {
    position: absolute;

    z-index: 1002;
  }

  &--animated {
    animation-name: alertAnimation;
    animation-duration: 0.8s;
  }

  &-body-container {
    flex-grow: 1;
  }

  & .n2o-popover {
    margin-right: 0.5rem;

    font-size: 22px;
  }

  &-close-container {
    margin-left: 0.5rem;
  }

  &-loader {
    display: block;
    width: 150px;
    margin: 0 auto;

    & .n2o-alert-body-container {
      display: flex;
      align-items: center;
    }

    & .spinner {
      margin-right: 10px;
    }
  }
}

.n2o-alert-header {
  margin-top: 5px;
  margin-bottom: 10px;

  & h4 {
    margin-bottom: 0;

    font-size: 22px;
  }
}

.n2o-alert-body {
  padding-bottom: 5px;
}

.n2o-alert-body .details-label {
  border-bottom: 1px dashed rgba($dark, .55);
  cursor: pointer;
}

.n2o-alert-body .details {
  margin-top: 10px;
  background-color: $gray-200;
  padding: $input-padding;
  color: $dark;
  border: 1px solid $gray-400;
  border-radius: $border-radius-base;
}

.alert-border-info {
  border: 1px solid darken($info, 20%);
}

.alert-border-danger {
  border: 1px solid darken($danger, 20%);
}

.alert-border-success {
  border: 1px solid darken($success, 20%);
}

.alert-border-warning {
  border: 1px solid darken($warning, 20%);
}

.n2o-global-alerts {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: $zindex-tooltip;

  & > .alert {
    flex-direction: row-reverse;
  }

  & .close {
    margin-top: -5px;
    margin-left: 10px;
  }
}