.n2o-sidebar {
  display: flex;
  flex-direction: column;

  min-width: $sidebar-width;
  max-width: $sidebar-width;

  color: $sidebar-color;

  background-color: $sidebar-bg-color;

  &__nav-brand {
    display: flex;
    justify-content: center;

    padding: $sidebar-brand-padding;

    border-bottom: $sidebar-brand-border-bottom;
    border-top: $sidebar-brand-border-top;
    border-left: $sidebar-brand-border-left;
    border-right: $sidebar-brand-border-right;

    background-color: $sidebar-brand-bg-color;
  }

  & a.active {
    background-color: rgba(0,0,0,0.4);
  }

  &__nav-list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__footer {
    margin-top: auto;
  }

  &__item {
    display: flex;
    padding: 5px 20px 5px 20px;

    &--dropdown {
      padding: 0;

      & .n2o-sidebar__item-dropdown-label {
        padding: 5px 0 5px 20px;
      }
    }

    color: $sidebar-color;

    cursor: pointer;

    &:hover {
      background: rgba(255,255,255, 0.1);
      color: $sidebar-color;
    }

    &.n2o-sidebar__item--dropdown:hover {
      background: transparent;
    }

    &-content {
      display: flex;
      align-items: center;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 20px;
        height: 20px;

        margin-right: 10px;
      }
    }
  }

  &__item-dropdown {

    &-label {
      display: flex;
      width: 100%;

      cursor: pointer;

      &:hover {
        background: rgba(255,255,255, 0.1);
      }

      & > span:not(.n2o-sidebar__item-content-icon) {
        display: inline-block;
        position: relative;

        &::after {
          content: "\F078";
          font-family: FontAwesome;
          position: absolute;
          right: -15px;
          top: 5px;
          width: 10px;
          height: 6px;
          font-size: 10px;
          color: #fff;
        }
      }
    }
  }

  &__subitems {
    background: rgba(0,0,0,0.25);
  }


  & .n2o-user-box__title {
    color: $sidebar-color;
  }

  &__toggler {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0.5rem 1rem;

    border-top: 1px solid #0d151c;

    cursor: pointer;

    &:hover {
      background: rgba(255,255,255,0.1);
    }
  }

  &--compressed {
    & .n2o-sidebar__item-dropdown-label {
      display: flex;
      align-self: center;
      justify-content: center;
      padding: 5px;

      & span::after {
        display: none;
      }
    }
  }
}

.n2o-nav-brand {
  &__text {
    font-size: $sidebar-brand-font-size;
    color: $sidebar-color;
  }
}