.n2o-sidebar {
  width: $sidebar-width;

  color: $sidebar-color;

  background-color: $sidebar-bg-color;

  & a,
  & button {
    color: $sidebar-color;
  }

  &__nav-brand {
    display: flex;
    justify-content: center;

    background-color: $sidebar-navbar-bg-color;
  }
}

.n2o-nav-brand {
  &__icon {
    margin-right: 1rem;
  }

  &__text {
    font-size: $sidebar-brand-font-size;
  }
}