.title-fieldset {
  &-header {
    display: flex;
    align-items: baseline;

    margin: $collapse-header-margin;
  }

  &-line {
    align-self: center;
    width: 100%;
    height: $collapse-line-height;
    margin-left: 5px;
    background-color: $collapse-line-color;
  }

  &-text {
    color: #474747;
    text-indent: initial;
    height: 30px;
    line-height: 28px;
    white-space: nowrap;
    font-weight: 700;
  }

  &-subtitle {
    margin-left: 5px;
  }
}