.n2o-rc-tree-wrapper{
  & .n2o-rc-tree-label{
    padding: 0 5px;
  }

  & .n2o-rc-tree-image-tree-wrapper {
    display: inline-block;
    padding: 0 5px;

    & > img{
      width: 24px;
    }



  }

  & .n2o-rc-tree{
    margin: 0;
    padding: 0;
  }

  .expand-btn{
    padding-bottom: 10px;
  }
  .tree-filter{
     display: block;
      position: relative;
      cursor: pointer;
      padding-bottom: 10px;

     .tree-filter-clear{
       display: inline-block;
       position: absolute;
       cursor: pointer;
       right: 10px;
       top: 5px;

       & i{

         font-size: 12px;
         border-radius: 50%;

         &:hover{
            background: $n2o-tree-hover-color;
          }
       }
     }
   }
  .search-text{
    color: $search-text-color;
  }

  .collapse {
    overflow: hidden;
    display: block;
  }

  .collapse-active {
    transition: height 0.3s ease-out;
  }

}



.n2o-rc-tree-treenode-disabled{
  opacity: 0.8;
  pointer-events: none;
}

.n2o-rc-tree li {
  padding: 0;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  outline: 0;
}
.n2o-rc-tree li .draggable {
  color: #333;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}
.n2o-rc-tree li.drag-over > .draggable {
  background-color: $n2o-tree-draggable-color;
  color: white;
  border: 1px $n2o-tree-draggable-color solid;
  opacity: 0.8;
}
.n2o-rc-tree li.drag-over-gap-top > .draggable {
  border-top: $n2o-tree-draggable-color;
}
.n2o-rc-tree li.drag-over-gap-bottom > .draggable {
  border-bottom: 2px $n2o-tree-draggable-color solid;
}

.n2o-rc-tree li.filter-node > .n2o-rc-tree-node-content-wrapper {
  color: $n2o-tree-filtered-elem-color!important;
  font-weight: bold!important;
}

.n2o-rc-tree li ul {
  margin: 0;
  padding: 0 0 0 18px;
}

.n2o-rc-tree li span.n2o-rc-tree-switcher.n2o-rc-tree-switcher-noop {
  cursor: pointer;
}

//////////////////////////////////////////////////////////////

.n2o-rc-tree li .n2o-rc-tree-node-content-wrapper {
  display: inline-block;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  vertical-align: top;
}

.n2o-rc-tree-switcher {
  display: inline-block;
  cursor: pointer;
  vertical-align: top;
  & i {
    font-size: 12px;
  }

  & .custom-control{
   pointer-events: none;

  }

  &.n2o-rc-tree-switcher_open > i {
    transform: rotate(90deg);
    transition: transform $tree-animation-speed linear;
  }
  &.n2o-rc-tree-switcher_close > i {

    transition: transform $tree-animation-speed linear;
  }
  &.n2o-rc-tree-switcher-noop > i {
    opacity: 0;
  }

  // Switcher открыть
  &.n2o-rc-tree-switcher_open .custom-control-label {
    &::before {
      color: $white;
      background-color: $checkbox-background-color-checked;
      border-color: $checkbox-border-color-checked;
    }

    &::after{
      background-image: $custom-checkbox-indicator-icon-indeterminate;
      //left: -1.2rem;
    }
  }

  // Switcher закрыт
  &.n2o-rc-tree-switcher_close .custom-control-label {
    &::before {
      color: $white;
      background-color: $checkbox-background-color-checked;
      border-color: $checkbox-border-color-checked;
    }

    &::after{
      background-image: $custom-checkbox-indicator-icon-close;
      //left: -1.2rem;
    }
  }
  &.n2o-rc-tree-switcher-noop .custom-control-label{
    opacity: 0;
  }
}


.n2o-rc-tree-checkbox-checked{
  &  .custom-control-label::before {
    color: $white;
    background-color: $checkbox-background-color-checked;
    border-color: $checkbox-border-color-checked;
  }

  &  .custom-control-label::after{
    background-image: $custom-checkbox-indicator-icon-checked;
    left: -1.2rem;
  }
}

.n2o-rc-tree-checkbox-indeterminate{
  &  .custom-control-label::before {
    color: $white;
    background-color: $checkbox-background-color-checked;
    border-color: $checkbox-border-color-checked;
  }

  &  .custom-control-label::after{
    background-image: $custom-checkbox-indicator-icon-indeterminate;
    left: -1.2rem;
  }
}

.n2o-rc-tree-content-wrapper{
  padding: 0.1rem;
  display: inline-block;
}

.n2o-rc-tree-content-wrapper:hover{
  background-color: $n2o-tree-hover-color;
}

.n2o-rc-tree-content-wrapper:focus {
    background-color: $n2o-tree-hover-color;
}

.n2o-rc-tree-node-selected {
  .n2o-rc-tree-content-wrapper{
    background-color: $n2o-tree-selected-color;
  }
}

.tree-exp-btn{
  .btn-link:not(:first-child),
  .btn-group:not(:first-child) > .btn-link  {
    &::before{
      content: "|";
      display: inline-block;
      position: absolute;
      left: 0;
      color: $gray;
    }
  }
}

