.n2o-user-box {
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    border: none;
    background-color: transparent;

    outline: none !important;
  }

  &__dropdown-item {
    padding: 10px 0;

    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}