.application {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.body-container {
  display: flex;
  flex-grow: 1;
}

.application > .container-fluid {
  margin: 0;
}

.application-body {
  flex-grow: 1;
  padding-top: 1rem;
}

.navbar-brand {
  display: flex;
}

.icon-bar {
  background: white;
}

@media screen and (max-width: 768px) {
  .navbar-text {
    position: relative;
    display: block;
    padding: 10px 15px !important;
    margin: 0;
  }
}

.navbar, .navbar-expand-lg, .navbar-dark, .navbar-search > input, button {
  border-radius: 0
}

#brace-editor {
  flex-grow: 1
}

.n2o-dropdown-menu {
  z-index: 100;
}
.capitalize {
  text-transform: capitalize;
}
.n2o-disabled {
  pointer-events: none;
  opacity: $btn-disabled-opacity;
}

.was-validated .form-control:invalid, .form-control.is-invalid,
.was-validated .form-control:valid, .form-control.is-valid {
  background: none;
}

.btn-group > .btn, .btn-group-vertical > .btn {
  flex: 0 1 auto;
}